extends layout

block content
  h1= title
  // #banner.page-header
  //   .row
  //     .col-lg-6
  //       h1 test
  //       small &nbsp; test
  // .row
  //   .col-xs-12.col-sm-8
  //     .row.list-group
  //       each setting in flaps
  //         .col-xs-12.list-group-item
  //           p.flap= setting.flaps
  //           p.weight= setting.weight
  //           p.altitude= setting.altitude
  //           p.temperature= setting.temperature
  //           p.vr= setting.vr
  //           p.v2= setting.v2